* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #f6ebf4;
  --color-primary: #482673;
  --color-primary-variant: #ed0b70; 
  --color-turquoise: #301008;
  --color-light: #4cbfa6;
}